<% layout("layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <br /><br />
    <h2>Add NEW LIST</h2>
    <hr />
    <form
      action="/listings"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <!-- Form fields -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          id="title"
          name="listing[title]"
          type="text"
          placeholder="Enter title"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please provide a title.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="listing[description]"
          placeholder="Enter description"
          cols="35"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please provide a description.</div>
      </div>

      <div class="mb-3">
        <label for="imageUrl" class="form-label">Select Image</label>
        <input name="image" type="file" class="form-control" required />
        <div class="invalid-feedback">Retry....🤕</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            id="price"
            name="listing[price]"
            placeholder="Enter price"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide a price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            id="country"
            name="listing[country]"
            type="text"
            placeholder="Enter country"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide a country.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          id="location"
          name="listing[location]"
          type="text"
          placeholder="Enter location"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please provide a location.</div>
      </div>

      <button class="btn btn-dark add-btn mt-3" type="submit">Submit</button>
      <br /><br />
    </form>
    <br />
  </div>
</div>
