<% layout("layouts/boilerplate") %>

<div class="hero">
  <h2 class="hero-text">Welcome to TripLinker</h2>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-4" style="padding: 15px">
  <div class="col">
    <div class="card h-100">
      <img src="/image/lis.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">List Your Space</h5>
        <p class="card-text">
          Have extra space? List it on TripLinker and earn from rentals.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/image/immm.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Find Unique Places</h5>
        <p class="card-text">
          Explore homes, buildings, and unique places to stay around the world.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/image/secure.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Secure Booking</h5>
        <p class="card-text">
          Our platform ensures safe and secure transactions, protecting both
          hosts and guests.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

<section class="cta-section">
  <div class="container">
    <h2>Start Your Journey Today</h2>
    <a href="#" class="cta-button cta-button-alt">Sign Up Now</a>
  </div>
</section>
